.videos_page {
	padding: 0 15px;
}
.video_container {
	text-align: center;
}
.video_pane {
	height: 200px;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: 0 0;
	-webkit-transition: background-position .25s ease-out;
	   -moz-transition: background-position .25s ease-out;
	    -ms-transition: background-position .25s ease-out;
	     -o-transition: background-position .25s ease-out;
	        transition: background-position .25s ease-out;
	text-align: center;
}
.video_details .video_pane {
	background-position: 0 -500px;
	-webkit-transition: background-position .75s ease-out;
	   -moz-transition: background-position .75s ease-out;
	    -ms-transition: background-position .75s ease-out;
	     -o-transition: background-position .75s ease-out;
	        transition: background-position .75s ease-out;
}
.play_arrow {
    margin-top: 80px;
    display:none;
}
.video_pane:hover {
    opacity:0.7;
}
.video_pane:hover .play_arrow{
    display:inline;
}
.video_element {
	width:100%;
	height:200px;
}
.more_info {
	padding: 0;
}
.ted_footer {
	text-align: center;
}