<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TED Talks</title>
        <!-- Bootstrap -->
        <link href="css/bootstrap.css" rel="stylesheet">
        <link rel="stylesheet" href="css/bootstrap-responsive.css">
        <!-- Project -->
        <link href="css/application.css" rel="stylesheet">
    </head>
    <body>
        <div class="navbar navbar-static-top navbar-inverse">
            <div class="navbar-inner">
             <div class="container">
                    <!-- <h1> -->
                     <a href="/" class="brand">TED Talks</a>
                 <!-- </h1> -->
                 <form class="navbar-search pull-right">
                   <input type="text" class="search-query" placeholder="Search">
                 </form>
             </div>
            </div>
        </div>
        <div class="container videos_page">
            <ul class="thumbnails" id='video_grid'>
            </ul>
            <!-- <div class="row-fluid">
                <div class="span6 video_container">
                    <img class='img_thumbnail' src="http://images.ted.com/images/ted/e6590fd9b49cdc7270dc0bc03593ee840f4a5585_480x360.jpg" alt="">
                    <div class="video_title"></div>
                    <div class="video_blurb"></div>
                </div>
                <div class="span6 video_container">
                    <img class='img_thumbnail' src="http://images.ted.com/images/ted/5817df5175966f8f2051620a1a64508b6aec8c54_480x360.jpg" alt="">
                    <div class="video_title"></div>
                    <div class="video_blurb"></div>
                </div>
            </div> -->
        </div>
        <script id='videoItemTemplate' type="text/template">
            <div class="thumbnail">
                <img src="<%= thumbnailUrl %>" alt="">
                <h3><%= videoTitle %></h3>
                <p><%= videoBlurb %></p>
            </div>
        </script>
        <script src="js/underscore.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <script src="js/backbone-min.js"></script>
        <script src="js/backbone-viewcollection.js"></script>
        <!-- Bootstrap -->
        <script src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>

        <!-- Project -->
        <script src="js/libs.js"></script>
        <script src="js/application.js?1"></script>

        <script>
            google.load("feeds", "1");
            google.setOnLoadCallback(function() {
                TedFeed.fetch();
                window.TedFeedView = new FeedListView({
                    el: "#video_grid",
                    BaseViewClass: FeedItemView,
                    collection: TedFeed
                });
            });
        </script>
    </body>
</html>