<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TED Talks</title>
        <!-- Bootstrap -->
        <link href="css/bootstrap.css" rel="stylesheet">
        <link rel="stylesheet" href="css/bootstrap-responsive.css">
        <!-- Project -->
        <link href="css/application.css" rel="stylesheet">
    </head>
    <body>
        <div class="navbar navbar-static-top navbar-inverse">
            <div class="navbar-inner">
             <div class="container">
                 <a href="/" class="brand">TED Talks</a>
                 <form class="navbar-search pull-right">
                   <input id='filter' type="text" class="search-query" placeholder="Search">
                 </form>
             </div>
            </div>
        </div>
        <div class="container videos_page">
            <ul class="thumbnails" id='video_grid'>
            </ul>
        </div>
        <script id='videoItemTemplate' type="text/template">
            <div class="thumbnail">
                <div style="background-image: url(<%= thumbnailUrl %>);" alt="" class='video_pane'>
                    <img src="img/white_arrow.png" class="play_arrow">
                </div>
                <h3><%= videoTitle %></h3>
                <p><%= videoBlurb %></p>
            </div>
        </script>

        <script type='text/template' id='videoPlayerTemplate'>
            <video src="<%= videoUrl %>" autoplay controls poster='<%= thumbnailUrl %>'>
                Your browser doesn&amp;t appear to support playing this video. Click <a href='<%= videoUrl %>'>here</a> to download it (<%= (typeof fileSize === 'number') ? fileSizeToHumanReadable(fileSize) : '' %>)
            </video>
        </script>
        <script src="js/underscore.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <script src="js/backbone-min.js"></script>
        <script src="js/backbone-viewcollection.js"></script>
        <!-- Bootstrap -->
        <script src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>

        <!-- Project -->
        <script src="js/libs.js"></script>
        <script src="js/application.js?1"></script>

        <script>
            google.load("feeds", "1");
            google.setOnLoadCallback(function() {
                Ted.Feed.fetch();
                Ted.FeedView = new FeedListView({
                    el: "#video_grid",
                    BaseViewClass: FeedItemView,
                    collection: Ted.Feed
                });
            });
        </script>
    </body>
</html>